@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
    font-family: 'Droid Serif';
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

.project-lead {
    background-color: lightblue;
}

.exercise {
    background-color: lightblue;
    font-style: italic;
}

th {
    background-color: lightblue;
    padding-left: 1em;
    padding-right: 1em;
}

td {
    padding-left: 1em;
    padding-right: 1em;
}

div.flex-row {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.flex-col {
    margin-left: 1rem;
    margin-right: 1rem;
}
